/*=== Import fonts ===*/
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');
/*=== Adjust all items ===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amiri', serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
}
body {
    color: #fff;
    background: #0a0c19;
}
/*=== Basic container ===*/
.flex-content {
    top: 100px;
    width: 80vw;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
}
/*=== Description part ===*/
.description{
    background: #1c1a38;
    border-radius: 20px 0 0 20px;
}
.description h1{
    padding: 25px;
    font-size: 50px;
}
.description h1 span {
    color: #aa5cdb;
}
.description .Discover {
    font-size: 25px;
    padding: 20px;
    opacity: 0.5;
}
.description .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.numbers p {
    padding: 60px;
}
.nu {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.img img {
    width: 585px;
    border-radius: 0 20px 20px 0;
}
/*=== Response part ====*/
@media (min-width:1440px) {
    .img img {
        width: 475px;
        border-radius: 0 20px 20px 0;
    }
}

@media (max-width:1270px) {
    .flex-content {
        display: flex;
        flex-flow: column wrap;
    }
}